<!DOCTYPE html>
<html lang="en">
<%- include('head', {title: 'Home Page'}); %>
<body>
  <h1>Home Page</h1>
  <form method="POST" action="/logout">
    <button>Log out</button>
  </form>
</body>
</html>
