<!DOCTYPE html>
<html lang="en">
<%- include('head', {title: 'Welcome Page'}); %>
<body>
  <h1>Welcome Page</h1>
  <ul>
    <li>
      <a href="/sign-in">Sign In</a>
    </li>
    <li>
      <a href="/sign-up">Sign Up</a>
    </li>
  </ul>
</body>
</html>
